.img {
	position: relative;
	float: left;
	width:  350px;
	height: 200px;
	background-position: 50% 50%;
	background-repeat:   no-repeat;
	background-size:     cover;
}
.card-block {
	position: relative;
	float: left;
	width:  350px;
	height: 200px;
	background-position: 50% 50%;
	background-repeat:   no-repeat;
	background-size:     cover;
}
.card-block span{
	position: absolute;
	bottom: 5px;
	margin-right: auto;
	margin-left: auto;
}